* {
  margin: 0;
  padding: 0;
}

html {
  scroll-snap-type: y mandatory;
}

.app{
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}
.container{
  position: relative;
  border-radius: 20px;
  scroll-snap-type: y mandatory;
  height: 90vh;
  overflow: scroll;
  width: 50vh;
}
.container::-webkit-scrollbar{
  display: none;
}

.container{
  -ms-overflow-style: none; /*IE, EDGE*/
  -ms-scrollbar-width: none; /*Firefox*/
  scrollbar-width: none; /*Firefox*/
}